on: [push]
jobs:
  pylint-and-tests:
    name: Conda ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        env_file: ["freeze-38.yml"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          environment-file: ${{ matrix.env_file }}
      - name: Conda info
        shell: bash -l {0}
        run: conda info
      - name: Unit Tests
        shell: pwsh
        run: python -m unittest discover tests -v